
<h3>New Blog Article</h3>  

<%= form_for ([@user, @blog_article]), :remote => true do |f| %>
  
  <%= render :partial => 'blog_articles_form_errors' %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :publish_now %><br>
    <%= f.select :publish_now, [['yes','yes'], ['no','no']] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

