<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class='row'>
      <div class='col-lg-4'></div>
      <div class='col-lg-4' align='center'>
        <div class="error_div">
          <h3 class='error_header'><%= pluralize(@user.errors.count, "error")%></h3>
          <p>stopped this account from saving</p>
        </div>
      </div>
      <div class='col-lg-4'></div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.button %>
  </div>
<% end %>
