<h4>Published Blog Posts</h4>
<% @blog_posts.each do |blog| %>
  <% if blog.publish_now.downcase == 'yes' %>
    <div>
      <h5><%= blog.title %></h5>
      <p><%= blog.body %></p>
      <p>Published: <%= blog.publish_now %></p>
      <button type="button"><%= link_to 'Edit', edit_blog_article_path(blog) %></button>
      <button type="button"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
  <% end %>
<% end %>