<h4>Unpublished Blog Posts</h4>
<% @user.blogs_in_order.each do |blog| %>
  <% if blog.publish_now == 'no' %>
    <div>
      <% if blog == @user.blogs_in_order.first %>
        <h6>Most Recent</h6>
      <% end %>

      <h5><%= blog.title %></h5>
      <p><%= blog.body %></p>
      <p>Published: <%= blog.publish_now %></p>
      <p>Created at: <%= blog.created_at %></p>
      <button type="button"><%= link_to 'Edit', edit_blog_article_path(blog) %></button>
      <button type="button"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
  <% end %>
<% end %>