
<h1>Hello <%= @user.email %></h1>

<button><%= link_to 'New Blog Article', new_blog_article_path %></button>
<button><%= link_to 'Sent Letters', letters_path %></button>

<div id='published'>

  <%= render 'published_blog_list' %>

</div>

<div id='unpublished'>

  <%= render 'unpublished_blog_list' %>

</div>





