<% @blog_articles.each do |blog_article| %>
  <tr>
    <td><%= blog_article.body %></td>
    <td><%= blog_article.title %></td>
    <td><%= blog_article.publish_now %></td>
    <td><%= blog_article.user_id %></td>
    <td><%= link_to 'Show', blog_article %></td>
    <td><%= link_to 'Edit', edit_blog_article_path(blog_article) %></td>
    <td><%= link_to 'Destroy', blog_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
