
<div class='row'>
  <div class='col-lg-1'></div>
  <div class='col-lg-4' align='center'>
    <div id='abouts_pic_holder'>
      <%= image_tag 'edit.png', :id => 'abouts_pic' %>
    </div>
  </div>
  <div class='col-lg-6'>
    <h1 id='first'>About Me</h1>
    <div class='row-transparency'>
      <%= render 'bio' %>
    </div> 
    <div class='row'>
      <div class='col-lg-12' >
        <h1 class='title_padding'>My Skills</h1>
      </div>
    </div>
    <div class='row'>
      <%= render 'charts' %>
      <div class='col-lg-2'></div>
    </div>
    <div class='row'>
      <div class='col-lg-12' >
        <h1 class='title_padding'>My Hobbies</h1>
      </div>
    </div>
    <div class='row'>
      <%= render 'hobbies' %>
      <div class='col-lg-2'></div>
    </div>
  </div>
  <div class='col-lg-1'></div>
</div>

<div class="btn-group btn-group-justified" id='abouts_footer'>
  <div class="btn-group">
    <%= link_to(root_path) do %>
    <button type="button" class="btn btn-default">Welcome</button>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to(blog_articles_path) do %>
    <button type="button" class="btn btn-default">Blog</button>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to(new_letter_path) do %>
    <button type="button" class="btn btn-default">Contact</button>
    <% end %>
</div>



 


<%= javascript_include_tag "Chart" %>





<script type="text/javascript">


$(document).ready(function(){

    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1)
    {
    console.log('first')
    // Set the URL to whatever it was plus "#".
    url = document.URL+"#";
    location = "#";

    //Reload the page
    location.reload(true);

    }
    else{
      $(function() {

    

    var doughnutData1 = [
        {
          value: 15,
          color: "rgba(255, 255, 255, 0.0)",
          highlight: "rgba(255, 255, 255, 0.0)",
          label: "Rails"
        },
        {
          value: 85,
          color: "rgba(254, 173, 107, 0.94)",
          highlight: "rgba(254, 173, 107, 0.94)",
          label: "Rails"
        }

      ];

  var doughnutData2 = [
        {
          value: 15,
          color: "rgba(255, 255, 255, 0.0)",
          highlight: "rgba(255, 255, 255, 0.0)",
          label: "Javascript"
        },
        {
          value: 85,
          color: "rgba(254, 173, 107, 0.94)",
          highlight: "rgba(254, 173, 107, 0.94)",
          label: "Javascript"
        }

      ];

  var doughnutData3 = [
        {
          value: 10,
          color: "rgba(255, 255, 255, 0.0)",
          highlight: "rgba(255, 255, 255, 0.0)",
          label: "Ruby"
        },
        {
          value: 90,
          color: "rgba(254, 173, 107, 0.94)",
          highlight: "rgba(254, 173, 107, 0.94)",
          label: "Ruby"
        }

      ];

  var doughnutData4 = [
        {
          value: 35,
          color: "rgba(255, 255, 255, 0.0)",
          highlight: "rgba(255, 255, 255, 0.0)",
          label: "Rspec"
        },
        {
          value: 65,
          color: "rgba(254, 173, 107, 0.94)",
          highlight: "rgba(254, 173, 107, 0.94)",
          label: "Rspec"
        }

      ];

      window.onload = function(){

        if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
        } 

        var ctx1 = document.getElementById("chart-area1").getContext("2d");
        window.myDoughnut = new Chart(ctx1).Doughnut(doughnutData1, {responsive : false});
        var ctx2 = document.getElementById("chart-area2").getContext("2d");
        window.myDoughnut = new Chart(ctx2).Doughnut(doughnutData2, {responsive : false});
        var ctx3 =document.getElementById("chart-area3").getContext("2d");
        window.myDoughnut = new Chart(ctx3).Doughnut(doughnutData3, {responsive : false});
        var ctx4 = document.getElementById("chart-area4").getContext("2d");
        window.myDoughnut = new Chart(ctx4).Doughnut(doughnutData4, {responsive : false});
      };

  });

    }
    });
    
   

    
    



  
  
  


  </script>














