
<div class='row'>
  <div class='col-lg-1'></div>
  <div class='col-lg-4' align='center'>
    <div id='abouts_pic_holder'>
      <%= image_tag 'edit.png', :id => 'abouts_pic' %>
    </div>
  </div>
  <div class='col-lg-6'>
    <h1 id='first'>About Me</h1>
    <div class='row-transparency'>
      <%= render 'bio' %>
    </div> 
    <div class='row'>
      <div class='col-lg-12' >
        <h1 class='title_padding'>My Skills</h1>
      </div>
    </div>
    <div class='row' id='load_charts'>
      <%= render 'charts' %>
      <div class='col-lg-2'></div>
    </div>
    <div class='row'>
      <div class='col-lg-12' >
        <h1 class='title_padding'>My Hobbies</h1>
      </div>
    </div>
    <div class='row'>
      <%= render 'hobbies' %>
      <div class='col-lg-2'></div>
    </div>
  </div>
  <div class='col-lg-1'></div>
</div>

<div class="btn-group btn-group-justified" id='abouts_footer'>
  <div class="btn-group">
    <%= link_to(root_path) do %>
    <button type="button" class="btn btn-default"><span class='footer_text_color'>Welcome</span></button>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to(blog_articles_path) do %>
    <button type="button" class="btn btn-default"><span class='footer_text_color'>Blog</span></button>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to(new_letter_path) do %>
    <button type="button" class="btn btn-default"><span class='footer_text_color'>Contact</span></button>
    <% end %>
</div>



 


<%= javascript_include_tag "Chart" %>





<script type="text/javascript">

$(window).bind("scroll", function(){            
  $('canvas').each(function(i){    
        var options = {
                animationEasing: 'easeOutQuart',        
                animationSteps: 200,
                segmentShowStroke: false,
                segmentStrokeColor: 'FFF'                   
        };
        var doughnutData1 = [
            {value: 15, color:"rgba(255, 255, 255, 0.0)"},               
            {value : 85,color : "rgba(254, 173, 107, 0.94)"}         
        ];
        var doughnutData2 = [
            {value: 25, color:"rgba(255, 255, 255, 0.0)"},               
            {value : 75,color : "rgba(254, 173, 107, 0.94)"}        
        ];
        var doughnutData3 = [
            {value: 10, color:"rgba(255, 255, 255, 0.0)"},               
            {value : 90,color : "rgba(254, 173, 107, 0.94)"}       
        ];
        var doughnutData4 = [
            {value: 35, color:"rgba(255, 255, 255, 0.0)"},               
            {value : 65,color : "rgba(254, 173, 107, 0.94)"}        
        ];
        var myDoughnut1 = new Chart(document.getElementById("chart-area1").getContext("2d")).Doughnut(doughnutData1, options);
        var myDoughnut2 = new Chart(document.getElementById("chart-area2").getContext("2d")).Doughnut(doughnutData2, options);
        var myDoughnut3 = new Chart(document.getElementById("chart-area3").getContext("2d")).Doughnut(doughnutData3, options);
        var myDoughnut4 = new Chart(document.getElementById("chart-area4").getContext("2d")).Doughnut(doughnutData4, options);
        $(window).unbind(i);
  });
});
   
</script>














