
<div class='row'>
  <div class='col-lg-4' align='center'>
    <div class='text-center'>
      <%= image_tag 'edit.png' %>
    </div>
  </div>
  <div class='col-lg-8' >
    <h1 id='first'>About Me</h1>
    <%= render 'bio' %>
    <div class='row'>
      <div class='col-lg-12' >
        <h1>Skills</h1>
      </div>
    </div>
    <div class='row'>
      <%= render 'charts' %>
      <div class='col-lg-2'></div>
    </div>
    <div class='row'>
      <div class='col-lg-12' >
        <h1>Hobbies</h1>
      </div>
    </div>
    <div class='row'>
      <%= render 'hobbies' %>
      <div class='col-lg-2'></div>
    </div>
  </div>
</div>




 


<%= javascript_include_tag "Chart" %>





<script type="text/javascript">


$(document).ready(function(){

    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1)
    {
    console.log('first')
    // Set the URL to whatever it was plus "#".
    url = document.URL+"#";
    location = "#";

    //Reload the page
    location.reload(true);

    }
    else{
      console.log('second')
      $(function() {

    

    var doughnutData1 = [
        {
          value: 15,
          color: "#FFFFFF",
          highlight: "#FFFFFF",
          label: "Rails"
        },
        {
          value: 85,
          color: "rgba(254, 173, 107, 0.94)",
          highlight: "rgba(254, 173, 107, 0.94)",
          label: "Rails"
        }

      ];

  var doughnutData2 = [
        {
          value: 15,
          color: "#FFFFFF",
          highlight: "#FFFFFF",
          label: "Javascript"
        },
        {
          value: 85,
          color: "rgba(254, 173, 107, 0.94)",
          highlight: "rgba(254, 173, 107, 0.94)",
          label: "Javascript"
        }

      ];

  var doughnutData3 = [
        {
          value: 10,
          color: "#FFFFFF",
          highlight: "#FFFFFF",
          label: "Ruby"
        },
        {
          value: 90,
          color: "rgba(254, 173, 107, 0.94)",
          highlight: "rgba(254, 173, 107, 0.94)",
          label: "Ruby"
        }

      ];

  var doughnutData4 = [
        {
          value: 35,
          color: "#FFFFFF",
          highlight: "#FFFFFF",
          label: "Rspec"
        },
        {
          value: 65,
          color: "rgba(254, 173, 107, 0.94)",
          highlight: "rgba(254, 173, 107, 0.94)",
          label: "Rspec"
        }

      ];

      window.onload = function(){

        if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
        } 

        var ctx1 = document.getElementById("chart-area1").getContext("2d");
        window.myDoughnut = new Chart(ctx1).Doughnut(doughnutData1, {responsive : false});
        var ctx2 = document.getElementById("chart-area2").getContext("2d");
        window.myDoughnut = new Chart(ctx2).Doughnut(doughnutData2, {responsive : false});
        var ctx3 =document.getElementById("chart-area3").getContext("2d");
        window.myDoughnut = new Chart(ctx3).Doughnut(doughnutData3, {responsive : false});
        var ctx4 = document.getElementById("chart-area4").getContext("2d");
        window.myDoughnut = new Chart(ctx4).Doughnut(doughnutData4, {responsive : false});
      };

  });

    }
    });
    
   

    
    



  
  
  


  </script>
















<div id='hobby_box'>
  <p>this is where my hobbies should go</p>
</div>






