<div class='row'>
  <div class='col-lg-4'></div>
  <div class='col-lg-4' align='center'>
    <h1>The Blog</h1>
  </div>
  <div class='col-lg-4'></div>
</div>

<div class='row'>
  <div class='col-lg-2'></div>
  <div class='col-lg-5'>
    <%= render @blog_articles %>
  </div>
  <div class='col-lg-2'></div>
  <div class='col-lg-2'>
    <h4>Most Recent Posts</h4>
    <div class='btn-group-vertical'>
      <% @blog_articles.limit(10).each do |blog| %>
        <% if blog.publish_now.downcase == 'yes' %>
          <button type='button' class='btn btn-default'>
            <%= link_to blog.title, blog_article_path(blog) %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='col-lg-1'></div>

</div>

  



<div class="btn-group btn-group-justified" id='blog_articles_footer'>
  <div class="btn-group">
    <%= link_to(abouts_path) do %>
    <button type="button" class="btn btn-default">About Me</button>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to(root_path) do %>
    <button type="button" class="btn btn-default">Welcome</button>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to(new_letter_path) do %>
    <button type="button" class="btn btn-default">Contact</button>
    <% end %>
</div>

<script type="text/javascript">
  

    console.log('hello');

    var temp = 1;

    replace();

    function replace(){
      $.each($('.blog_body'), function() { 
        temp = $(this).text();
        $(this).text('');
        $(this).html(temp);
      });
    }
  

  
</script>