<!DOCTYPE html>
<html>
<head>
  <title>MyWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= render 'layouts/navbar' %>

<div class="container">

  <div class='row'>

    <div id='notice_alert_div' align='center'>
      <% if flash[:notice] != nil %>
        <h3 id="notice"><%= flash[:notice] %></h3>
      <% elsif flash[:alert] != nil %>
        <h3 id="alert"><%= flash[:alert] %></h3>
      <% end %>
    </div>

  </div>

  <%= yield %>

 

</div>






</body>
</html>
