<!DOCTYPE html>
<html>
<head>
  <title>MyWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='nav'>
    <li><%= link_to 'Welcome', root_path %></li>
    <li><%= link_to 'About Me', abouts_path%></li>
    <li><%= link_to 'Blog', blog_articles_path %></li>
    <li><%= link_to 'Contact',  new_letter_path %></li>
    <li><%= link_to 'Admin', login_path %></li>
    <% if current_user %>
      <li><%= link_to "Account Page", user_path(current_user.id) %></li>
      <li><%= link_to "Logout", :logout, method: :post %></li>
    <% end %>
  </div>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>


<%= yield %>
<hr>
<div id='footer'>
    <li><%= link_to 'Welcome', root_path %></li>
    <li><%= link_to 'About Me', abouts_path%></li>
    <li><%= link_to 'Blog', blog_articles_path %></li>
    <li><%= link_to 'Contact',  new_letter_path %></li>
    <li><%= link_to 'Admin', login_path %></li>
    <% if current_user %>
      <li><%= link_to "Account Page", user_path(current_user.id) %></li>
      <li><%= link_to "Logout", :logout, method: :post %></li>
    <% end %>
  </div>



</body>
</html>
